@import "compass/css3";

// colors

$green: #06B294;
$mercury: #E5E5E5;
$color_log_cabin_approx: #212121;
$white: #fff;
$color_star_dust_approx: #9e9e9e;

/*******************************/

input[type='checkbox'] {
  display:none;
	height: 0;
	width: 0;
	+ label {
		position: relative;
    margin-left:1em;
		display: flex;
		color: $color_star_dust_approx;
		transition: color 250ms cubic-bezier(.4,.0,.23,1);
		> {
			span {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 1em;
				min-width: 1.5em ;
				min-height: 1.5em;
				background: $mercury;
				border: 2px solid $mercury;
				border-radius: 2px;
				cursor: pointer;
				transition: all 250ms cubic-bezier(.4,.0,.23,1);
			}
		}
		&:hover {
			> span {
        font-family:'FontAwesome';
        color:$mercury;
				content: "\f00c";
				background: $white;
				border: 2px solid $mercury;
			}
		}
	}
	&:focus + label {
		> span {
			background: $white;
			border: 2px solid $mercury;
		}
	}
	&:checked + label > {
		span {
      font-family:'FontAwesome';
			border: 0.7em solid $mercury;
			&:before {
        color:$green;
				content: "\f00c";
				position: absolute;
				top: 0.1em;
				left: 0.2em;

				transform-origin: 0 100%;
			}
		}
	}
}
@keyframes shrink-bounce {
	0% {
		transform: scale(1);
	}
	33% {
		transform: scale(.85);
	}
	100% {
		transform: scale(1);
	}
}
