// Colors
$white: #FFF;
$black: #000;
$mercury: #E5E5E5;
$persian_green: #06B294;
$color_cornflower_blue_approx: #69f;
$black_haze: #F7F7F7;
$gallery: #EDEDED;

// Body
body {
  background-color: $mercury;
}

p {
  margin:0;
}


// Form Elements
form {
  img
  {
    display: block;
    margin: 15px auto;
    /* The critical part is the display: block and the margin auto on the left and right of the element */
  }
}

input {

 &:focus {
  border: solid 1px $persian_green;
  }
}

// Fontawesome input fields

//fonts
$font_0: fontAwesome;

// FontAwesome elements
$envelope: '\f003';
$padlock: '\f023';
$plus: '\f067';

// Email icon
.email-input::-webkit-input-placeholder::before {
  	font-family: $font_0;
  	content: $envelope;
  	color: $persian_green;
  }
.email-input::-moz-placeholder::before {
  	font-family: $font_0;
  	content: $envelope;
  	color: $persian_green;
  }
.email-input:-ms-input-placeholder::before {
  	font-family: $font_0;
  	content: $envelope;
  	color: $persian_green;
  }
.email-input:-moz-placeholder::before {
  	font-family: $font_0;
  	content: $envelope;
  	color: $persian_green;
  }

  // Pass icon
  .pass-input::-webkit-input-placeholder::before {
    	font-family: $font_0;
    	content: $padlock;
    	color: $persian_green;
    }
  .pass-input::-moz-placeholder::before {
    	font-family: $font_0;
    	content: $padlock;
    	color: $persian_green;
    }
  .pass-input:-ms-input-placeholder::before {
    	font-family: $font_0;
    	content: $padlock;
    	color: $persian_green;
    }
  .pass-input:-moz-placeholder::before {
    	font-family: $font_0;
    	content: $padlock;
    	color: $persian_green;
    }




// Task elements
.task {
  display: flex;   /* equal height of the children */
  justify-content: center;
//  padding:0;
}


// Container for home page
.container-card {
  background-color: $white;
  padding: 2em;
  margin-top: 3em;

  input:not([type=submit]) {
  &:hover{
    background-color: $white;
    border-color: $gallery;
    }
  }
}

// Registration
/*.container-card-reg {
  background-color: $white;
  padding: 2em;
  margin-top: 3em;

  input:not([type=submit]) {
    background-color: $black_haze;
    border-color: $black_haze;
    box-shadow:0;
  &:focus{
    border: 1px solid $persian_green;
    }
  }
}*/

.panel {
  border: 1px solid $white;
  padding: 0.5rem;
  margin-bottom:0.5rem;
  margin-top:0;
  align-items: center;
}

// Adding radius to accordion
.taskcordion {
   border-radius: 3px;
}
