@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@font-face {
  font-family: 'dripicons';
  src: url("dripicons.eot");
  src: url("dripicons.eot?#iefix") format("embedded-opentype"), url("dripicons.ttf") format("truetype"), url("dripicons.svg#dripicons") format("svg"), url("dripicons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 52, ../scss/custom.scss */
* {
  margin: 0;
}

/* line 59, ../scss/custom.scss */
body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
/* line 70, ../scss/custom.scss */
body #wrapper {
  margin: 0 0 100px;
  /* bottom = footer height */
}
/* line 73, ../scss/custom.scss */
body p {
  margin: 0;
}
/* line 75, ../scss/custom.scss */
body form img {
  display: block;
  margin: 15px auto;
  /* Fixes an issue with image */
}
/* line 84, ../scss/custom.scss */
body input:focus {
  border: solid 1px #06B294;
}

/* line 90, ../scss/custom.scss */
body:after {
  content: '';
  display: block;
  height: 100px;
}

/* line 95, ../scss/custom.scss */
.task {
  display: flex;
  /* equal height of the children */
  justify-content: center;
}

/* line 101, ../scss/custom.scss */
.task-title {
  display: inline-block;
}

/* line 105, ../scss/custom.scss */
.edit-tasks {
  visibility: hidden;
}

/* line 109, ../scss/custom.scss */
.task-title:hover {
  background: #ededed;
}

/* line 114, ../scss/custom.scss */
.task-title:hover .edit-tasks {
  visibility: visible;
  display: inline;
}

/* line 119, ../scss/custom.scss */
.panel {
  border: 1px solid #FFF;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  align-items: center;
}
/* line 126, ../scss/custom.scss */
.panel.rounded-left {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 129, ../scss/custom.scss */
.panel.rounded-right {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 136, ../scss/custom.scss */
.index {
  margin-bottom: -4em;
  min-height: 100%;
  height: auto !important;
  /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
}

/* line 143, ../scss/custom.scss */
.container-card.index {
  margin-top: 4em;
  height: 100%;
}

/* line 149, ../scss/custom.scss */
.container-card {
  background-color: #FFF;
  padding: 2em;
  border-radius: 3px;
  margin-bottom: 3em;
}
/* line 157, ../scss/custom.scss */
.container-card input:not([type=submit]):hover {
  background-color: #FFF;
  border-color: #EDEDED;
}

/* line 165, ../scss/custom.scss */
.reveal-modal .row {
  padding-top: 2em;
}

/* line 170, ../scss/custom.scss */
.ng-invalid {
  border-color: #FF1F17;
}

/* line 175, ../scss/custom.scss */
.name img {
  margin-left: 1em;
  margin-top: 5px;
  height: 35px;
}

/*	.login {
		article {
			 position: absolute; bottom: 0;
			margin:auto;
		}
	}*/
/* line 189, ../scss/custom.scss */
.fullWidth {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  /*	display : inline-flex;
  	//flex-flow:row wrap;
  	align-items: flex-end;
  	justify-content: center;*/
  background: white;
}
/* line 200, ../scss/custom.scss */
.fullWidth .register {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 202, ../scss/custom.scss */
.fullWidth .register img {
  display: block;
  margin: 15px auto;
}
/* line 206, ../scss/custom.scss */
.fullWidth .register .regbutton {
  padding-top: 1.5em;
}
/* line 209, ../scss/custom.scss */
.fullWidth .register .deadspace {
  padding-top: 10em;
}
/* line 212, ../scss/custom.scss */
.fullWidth .login {
  background: #EDEDED;
  padding: 0 2em 0 2em;
  /*	display:flex;
  	align-items: center;
  	justify-content: center;*/
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 215, ../scss/custom.scss */
.fullWidth .login .deadspace {
  padding-top: 12.4em;
}
/* line 222, ../scss/custom.scss */
.fullWidth .login .loginprompt img {
  display: block;
  margin: 15px auto;
}
/* line 226, ../scss/custom.scss */
.fullWidth .login .loginprompt p {
  padding-bottom: 1em;
}

/* line 233, ../scss/custom.scss */
.loginform {
  margin-top: 10vh;
}
/* line 236, ../scss/custom.scss */
.loginform .register-link a {
  padding-right: 1em;
}

/* line 242, ../scss/custom.scss */
.taskid {
  line-height: 0em;
  text-align: center;
  padding-left: 35%;
}

/* line 248, ../scss/custom.scss */
.addtaskbut {
  margin-top: 2em;
}

/* line 252, ../scss/custom.scss */
footer {
  background: #FFF;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}
/* line 258, ../scss/custom.scss */
footer img {
  margin-left: 1em;
  margin-top: 5px;
  height: 35px;
  opacity: 0.2;
  filter: alpha(opacity=20);
  z-index: -1;
}

/* line 268, ../scss/custom.scss */
button.secondary, .button.secondary {
  background-color: #FFF;
  border: 2px solid #ededed;
  color: #06B294;
}
/* line 272, ../scss/custom.scss */
button.secondary:hover, .button.secondary:hover {
  color: #FFF;
  background: #ededed;
}

/* line 286, ../scss/custom.scss */
.email-input::-webkit-input-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 291, ../scss/custom.scss */
.email-input::-moz-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 296, ../scss/custom.scss */
.email-input:-ms-input-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 301, ../scss/custom.scss */
.email-input:-moz-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 308, ../scss/custom.scss */
.pass-input::-webkit-input-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 313, ../scss/custom.scss */
.pass-input::-moz-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 318, ../scss/custom.scss */
.pass-input:-ms-input-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 323, ../scss/custom.scss */
.pass-input:-moz-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 330, ../scss/custom.scss */
.firstname-input::-webkit-input-placeholder::before {
  font-family: dripicons;
  content: "";
  color: #06B294;
}

/* line 335, ../scss/custom.scss */
.firstname-input::-moz-placeholder::before {
  font-family: dripicons;
  content: "";
  color: #06B294;
}

/* line 340, ../scss/custom.scss */
.firstname-input:-ms-input-placeholder::before {
  font-family: dripicons;
  content: "";
  color: #06B294;
}

/* line 345, ../scss/custom.scss */
.firstname-input:-moz-placeholder::before {
  font-family: dripicons;
  content: "";
  color: #06B294;
}

/* line 352, ../scss/custom.scss */
.lastname-input::-webkit-input-placeholder::before {
  font-family: dripicons;
  content: "";
  color: #06B294;
}

/* line 357, ../scss/custom.scss */
.lastname-input::-moz-placeholder::before {
  font-family: dripicons;
  content: "";
  color: #06B294;
}

/* line 362, ../scss/custom.scss */
.lastname-input:-ms-input-placeholder::before {
  font-family: dripicons;
  content: "";
  color: #06B294;
}

/* line 367, ../scss/custom.scss */
.lastname-input:-moz-placeholder::before {
  font-family: dripicons;
  content: "";
  color: #06B294;
}
