@charset "UTF-8";
/* line 20, ../scss/custom.scss */
* {
  box-sizing: border-box;
}

/* line 26, ../scss/custom.scss */
body {
  background-color: #E5E5E5;
}
/* line 28, ../scss/custom.scss */
body p {
  margin: 0;
}
/* line 30, ../scss/custom.scss */
body form img {
  display: block;
  margin: 15px auto;
  /* Fixes an issue with image */
}
/* line 39, ../scss/custom.scss */
body input:focus {
  border: solid 1px #06B294;
}

/* line 48, ../scss/custom.scss */
.task {
  display: flex;
  /* equal height of the children */
  justify-content: center;
}

/* line 54, ../scss/custom.scss */
.panel {
  border: 1px solid #FFF;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  align-items: center;
}

/* line 63, ../scss/custom.scss */
.container-card {
  background-color: #FFF;
  padding: 2em;
  margin-top: 3em;
  border-radius: 3px;
}
/* line 70, ../scss/custom.scss */
.container-card input:not([type=submit]):hover {
  background-color: #FFF;
  border-color: #EDEDED;
}

/* line 78, ../scss/custom.scss */
.reveal-modal .row {
  padding-top: 2em;
}

/* line 83, ../scss/custom.scss */
.ng-invalid {
  border-color: #FF1F17;
}

/* line 88, ../scss/custom.scss */
.name img {
  margin-left: 1em;
  margin-top: 5px;
  height: 35px;
}

/* line 98, ../scss/custom.scss */
.email-input::-webkit-input-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 103, ../scss/custom.scss */
.email-input::-moz-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 108, ../scss/custom.scss */
.email-input:-ms-input-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 113, ../scss/custom.scss */
.email-input:-moz-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 120, ../scss/custom.scss */
.pass-input::-webkit-input-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 125, ../scss/custom.scss */
.pass-input::-moz-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 130, ../scss/custom.scss */
.pass-input:-ms-input-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 135, ../scss/custom.scss */
.pass-input:-moz-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 142, ../scss/custom.scss */
.firstname-input::-webkit-input-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 147, ../scss/custom.scss */
.firstname-input::-moz-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 152, ../scss/custom.scss */
.firstname-input:-ms-input-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 157, ../scss/custom.scss */
.firstname-input:-moz-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 164, ../scss/custom.scss */
.lastname-input::-webkit-input-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 169, ../scss/custom.scss */
.lastname-input::-moz-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 174, ../scss/custom.scss */
.lastname-input:-ms-input-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}

/* line 179, ../scss/custom.scss */
.lastname-input:-moz-placeholder::before {
  font-family: fontAwesome;
  content: "";
  color: #06B294;
}
