/* Placeholder undil proper stylesheet will be implemented */
  form 		{ padding-bottom:20px; }
  .task 	{ padding-bottom:20px; }
  /*.taskinput { max-height: 100px; -webkit-transition: height 1s linear; overflow: hidden; }
  .taskinput.hidden { max-height: 0; transition: 2.8s;}
  .addtasks { padding-bottom:6em; }*/
  /*.ng-invalid { background-color:red;}
  .ng-valid { background-color:green;}*/
